<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Number of nvidia GPUs in system -->
    <add key="NumberOfGPUS" value="6" />
    <!-- How many minutes to delay between checks default is 5-->
    <add key="Delay" value=".1" />
    <!-- How many consecutive errors before restarting the miner default is 4. Set to zero if not required. -->
    <add key="MinerStrikes" value="3" />
    <!-- Bat to Restart miner full path leave empty if not required -->
    <add key="RestartBat" value="" />
    <!-- Bat to start miner full path leave empty if not required -->
    <add key="StartBat" value="c:\start.bat" />
    <!-- How many consecutive errors before restarting the computer default is 5. Set to zero if not required. -->
    <add key="ComputerStrikes" value="4" />
    <!-- To email leave empty if you don't want emails-->
    <add key="ToEmailAddress" value="" />
    <!-- Gmail account with less secure apps enabled -->
    <add key="FromEmailAddress" value="" />
    <!-- Password to that account -->
    <add key="FromEmailPassword" value="" />
    <!-- Flag for testing set it to anything but test if not testing. Test returns 3 good returns before starting to fail for under utilization. all lower case -->
    <add key="ProdOrTest" value="test" />
    <!-- Flag for restarting. no to not actually restart anything else to restart. all lower case-->
    <add key="Restart" value="no" />
    <!-- Flag for disabling email. no to not send email anything else to send. all lower case-->
    <add key="SendEmail" value="no" />
    <!-- URL to use to validate internet and or Pool. Leave empty if not needed -->
    <add key="TestUrl" value="https:\\google.com" />
    <!-- Name of Rig-->
    <add key="Rig" value="Rig1" />
	<!-- Utilization level for a card to be considered under utilized and count as a strike. Ex 80 is 80% -->
	<add key="BadCardThreshold" value="80" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>